* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    background-color: #e9d8b9;
}

header {
    background-color: #1a3023;
}

h1 {
    text-align: center;
    color: white;
    font-size: 8vw;
}

.title-content {
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 12vw;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 3.5vw;
    color: white;
    text-decoration: none;
    margin: 1.5vw;
}   

.intro-box {
    border-radius: 10px;
    background-color: #1a3023;
    width: 80vw;
    margin: auto;
}

.intro-box p {
    color: white;
    text-align: center;
    margin: 0.5rem;
}

.intro-box ul {
    color: white;
}

.intro-box ul li {
    margin: 1rem;
}

.intro-box ul li:last-child {
    margin: 1rem;
    padding-bottom: 1rem;
}

.features-box {
    border-radius: 10px;
    background-color: #1a3023;
    width: 60vw;
    margin: auto;
}   

footer {
    background-color: #1a3023;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

footer p {
    color: white;
    text-align: center;
    padding: 1.5rem;
}

@media (min-width: 768px) {
    h1 {

    }

    nav ul li a {
        
    }
}