/* General Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    background-color: #e9d8b9;
}

/* Header Styles */
header {
    background-color: #1a3023;
}

h1 {
    text-align: center;
    color: white;
    font-size: 8vw;
}

/* Footer Styles */
footer {
    background-color: #1a3023;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    bottom: 0px;
}

footer p {
    color: white;
    text-align: center;
    padding: 1.5rem;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 3.5vw;
    color: white;
    text-decoration: none;
    margin: 1.5vw;
}

/* Page Header and Logo Styles */
.page-header{
    color: #1a3023;
    margin-left: 2rem;
}

.event-organizer-title {
    color: #1a3023;
    margin: 2rem;
    border-bottom: 0.5rem #1a3023 solid;
}

.title-content {
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 12vw;
    height: auto;
} 

/* Intro Box Styles */
.intro-box {
    border-radius: 10px;
    background-color: #1a3023;
    width: 80vw;
    margin: auto;
}

.intro-box p {
    color: white;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.intro-box ul {
    color: white;
}

.intro-box ul li {
    margin: 1rem;
}

.intro-box ul li:last-child {
    margin: 1rem;
    padding-bottom: 1rem;
}

.intro-box img {
    width: 40vw;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: auto;
}

/* Feature Box Styles */
.features-box {
    border-radius: 10px;
    background-color: #1a3023;
    width: 60vw;
    margin: auto;
}   

/* Button Styles */
.form-button {
    margin-bottom: 2rem;
}

.btn-dark {
    background: #1a3023;
}

.list-box .btn-dark, .category-btn {
    margin: 1.5rem;
}

/* Interest List Styles */
.created-event:hover {
    background-color: #1a3023;
    color: white;
}

.interest-list-title {
    text-align: center;
    color: #1a3023;
}

.interest-list li {
    background-color: #1a3023;
    color: white;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.interest-list li::marker {
    color: #1a3023;
    font-size: 2rem;
}

/* Modal Styles */
.modal {
    display: block;
    position: fixed; 
    z-index: 1;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.modal-content {
    background-color: #e9d8b9;
    margin: 15% auto; 
    padding: 1rem;
    border: 1px solid #1a3023;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    overflow-y: auto;
    color: #1a3023;
}

.button-flex {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

/* Event Styles */
.event-box {
    border-radius: 10px;
    background-color: #1a3023;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}   

.event-detail {
    color: black;
    background-color: #e9d8b9;
}

.event-name {
    padding: 10px;
    color: white;
}

.event-btn {
    background-color: #e9d8b9;
    color: #1a3023;
}

/* Sign-in Styles */
.sign-in {
    background-color: #1a3023;
    height: 100vh;
}

.login-content {
    text-align: center;
}

.login-content input, .login-content button {
    margin: 10px;
}

.log-out {
    margin: 10px;
}

.error-message {
    color: white;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea, form button {
    width: 100%;
    max-width: 400px;
    margin: 1.5rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }

    nav ul li a {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    li {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    .modal-content {
        width: 35vw;
    }
}